.body{
  font-family: TTNorms-Regular,sans-serif;
}

.header_heading{
  color: #006AB3;
  margin-top: 3rem;
  font-size: 36;
  font-family: TTNorms-Bold,sans-serif;
}
.header_para {
  margin-top: 20px;
  font-size: 16px;  
  margin-bottom: 20px;
  font-family: TTNorms-Regular,sans-serif;
}
.nav-link{
  width: 400px !important;
  height: 4rem !important;
  background-color: #006AB3;
  padding-top: 20px !important;
  color: white;
  margin-left: 5px;
  text-align: center;
}